* {
    background-color: lightcyan;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body, #bio {
    width: 70%;
}
.header-top {
position: relative;
display: flex;
justify-content: space-between;
background-color: burlywood;
}

.header-top h1 {
    background-color: crimson;
    font-size: 46px;
}
.header-top nav {
    font-size: 24px;
    background-color: burlywood;
    position:absolute;
    bottom: 0;
    right: 0;    
    border-bottom: 2px solid white;
    margin-right: 10px;
}
.header-top nav a {
    background-color: burlywood;
}
.subheader, .subheader h1 {
    display: flex;
    background-color: purple;
    justify-content: flex-end;
    position: relative;
    margin: 25px;    
}
.aboutme {
    display: flex;
    flex-wrap: wrap;
}
.aboutme , .work h1 {
    font-size: 32px;
    border-right: 5px solid black;
}
.aboutme p {
    text-indent: 5%;
    margin: 5%;

}

main {
    display: flex;
    flex-wrap:wrap;
}

 .projects {
    flex: 1;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 25px; 
} 
  

footer {
    display: flex;
    justify-content: space-between;
}
footer h1 {
    background-color: crimson;
    font-size: 46px;
}
footer nav {
    font-size: 24px;
    background-color: burlywood;
    bottom: 0; 
    right: 0; 
}

aside {
    width: 30%;
    text-align: right;
    font-size: 32px;
}
.mainbody, .projects {
    width: 70%;
}