* {
    background-color: lightcyan;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


.header-top {
position: relative;
display: flex;
justify-content: space-between;
background-color: burlywood;
}

.header-top h1 {
    background-color: crimson;
    font-size: 46px;
}
.header-top nav {
    font-size: 24px;
    background-color: burlywood;
    position:absolute;
    bottom: 0;
    right: 0;    
}
.header-top nav a {
    background-color: burlywood;
}
.subheader, .subheader h1 {
    display: flex;
    background-color: purple;
    justify-content: flex-end;
    position: relative;
    margin: 25px;    
}
.aboutme {
    display: flex;
}
.aboutme header {
    font-size: 32px;
    border-right: 5px solid black;
}
.aboutme p {
    text-indent: 5%;
    margin: 5%;
}


.projects {
    flex: 5;
    /* background-color: white; */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 25px; 
}
.bigcard {
    flex: 10 1 auto;
    background-color: blue;
    width: 100%;
    height: 500px;
}
.smallcard {
    width: auto;
    height: 250px;
    /* flex: 1 1 1; */
    background-color: red;
}

/* .text-right {
    justify-content: space-between;
} 
.text-left {
    justify-content: space-between;
}  */